In [2]:
import pandas as pd
import numpy as np

Import csv data

In [3]:
data = pd.read_csv('Desktop\covid.csv')

checking data types and missing values

In [8]:
data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288

In [14]:
data.shape

(289, 1147)

In [15]:
data.isna().sum()

Province/State    198
Country/Region      0
Lat                 2
Long                2
1/22/20             0
                 ...
3/5/23              0
3/6/23              0
3/7/23              0
3/8/23              0
3/9/23              0
Length: 1147, dtype: int64

droping province/state because missing values is 68%

In [22]:
DF = data.drop(columns = 'Province/State')

In [23]:
DF.dtypes

Country/Region     object
Lat               float64
Long              float64
1/22/20             int64
1/23/20             int64
                   ...
3/5/23              int64
3/6/23              int64
3/7/23              int64
3/8/23              int64
3/9/23              int64
Length: 1146, dtype: object

Lat and Long should be changed to numeric, datetime columns to datetime.

In [30]:
datetime_columns = DF.columns[4:]
date_data = pd.to_datetime(datetime_columns)

In [36]:
dat

AttributeError: 'Index' object has no attribute 'head'